---
import { SITE } from "@config";
import { getCollection } from "astro:content";

// component imports
import MainLayout from "@layouts/MainLayout.astro";
import PostList from "@components/PostList.astro";
import Pagination from "@components/Pagination.astro";
import TagCloud from "@components/TagCloud.astro";

// utils imports
import { filterPosts } from "../../js/utils";

export async function getStaticPaths({ paginate }) {
  const allPosts = await getCollection("blog");
  const formattedPosts = filterPosts(allPosts);

  return paginate(formattedPosts, {
    pageSize: SITE.articlePerPage,
  });
}

const { page } = Astro.props;
---

<MainLayout
  title="Articles"
  activeNav="articles"
  description="All of my long-form thoughts on programming, leadership, product design, and more, collected in chronological order."
>
  <section aria-label="New Blog Posts">
    <h1 class="sm:leading-tight text-3xl mb-5 sm:mb-10 sm:text-4xl">
      All Articles
    </h1>

    <section class="mb-14">
      <h2 class="mb-3 text-2xl">Tag Cloud</h2>
      <TagCloud />
    </section>

    <PostList posts={page.data} />

    <Pagination
      lastPage={page.lastPage}
      currentPage={page.currentPage}
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
    />
  </section>
</MainLayout>
