---
// library imports
import { Icon } from 'astro-icon/components';

interface Props {
  text: string;
  href: string;
  style: "primary" | "outline";
  icon?: {
    name: string;
    side: "left" | "right";
  };
  classes?: string;
}

const { text, href, style, icon, classes, ...rest } = Astro.props as Props;

const iconClasses = "inline-flex gap-1 items-center";
const linkClasses = [classes, style];

if (icon) {
  linkClasses.push(iconClasses);
}
---

<a href={href} class:list={linkClasses} {...rest}>
  {
    icon && icon.side === "left" && (
      <Icon name={icon.name} class="size-7" />
    )
  }

  <span>{text}</span>

  {
    icon && icon.side === "right" && (
      <Icon name={icon.name} class="size-7" />
    )
  }
</a>
