---
// component imports
import Link from "./Link.astro";

interface Props {
  prevUrl: string;
  nextUrl: string;
  currentPage: number;
  lastPage: number;
  classes?: string;
}

const { prevUrl, nextUrl, currentPage, lastPage, classes } = Astro.props;

const defaultClasses = "flex justify-between items-center text-sm sm:text-base";
---

<nav class:list={[defaultClasses, classes]} aria-label="Blog pages">
  <div class="w-1/3 flex items-center">
    {
      prevUrl && (
        <Link
          text="Previous"
          href={prevUrl}
          style="primary"
          icon={{
            name: "arrow-left",
            side: "left",
          }}
        />
      )
    }
  </div>

  <div class="w-1/3 text-center">
    Page {currentPage} of {lastPage}
  </div>

  <div class="w-1/3 flex items-center justify-end">
    {
      nextUrl && (
        <Link
          text="Next"
          href={nextUrl}
          style="primary"
          isFilled={false}
          icon={{
            name: "arrow-right",
            side: "right",
          }}
        />
      )
    }
  </div>
</nav>
